body {
  /* https://www.color-hex.com/color/d3d3d3 */
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: 1;
  animation: blur 0.5s ease-out;
  overflow: hidden;
}

* {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#title_container {
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #024f8e;
  /*#467599;*/
  box-shadow: 0 0 30px -18px #4d99e7;
}

#title_inner_container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: #083D77; */
  border-radius: 200px;
}

#title {
  display: inline-block;
  color: rgb(255, 204, 2);
  /*EBEBD3, C5283D*/
  font-size: 55px;
  letter-spacing: 2px;
  user-select: none;
}

#join_container {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
  margin-top: 80px;
}

#join_inner_container {
  width: 50%;
  height: 50%;
}

#join_input_container {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
}

#join_input {
  width: 100%;
  height: 40px;

  color: rgb(255, 255, 255) 4;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: Transparent;
  border-bottom: 2px dashed #024f8e;
}

#join_input:focus {
  box-shadow: 0 10px 30px -17px #024f8e;
}

#join_button_container {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#join_button {
  width: 30%;
  height: 40px;
  border-radius: 50px;

  font-family: Varela Round;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
}

#chat_container {
  width: 100%;
  height: 850px;

  display: flex;
  justify-content: center;

  float: left;
  margin-top: 0px;
  /* Fade in container */
  animation: fadeIn 1s linear;
}

#chat_inner_container {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}

#chat_content_container {
  width: 100%;
  height: 50%;

  float: left;
  overflow-y: auto;
  font-family: Varela Round;

  padding-left: 10px;
  padding-right: 10px;
}

#chat_input_container {
  width: 100%;
  height: 50px;

  float: left;
  border-bottom: 2px dashed #1d3354;
  background-color: Transparent;
  padding: 0 15px;
}

#chat_input {
  width: 95%;
  height: 100%;
  float: left;
  background-color: Transparent;
  color: #1d3354;
  font-size: 15px;
}

#chat_input_send {
  width: 5%;
  height: 100%;
  float: left;
  font-size: 18px;
  background-color: Transparent;
  text-align: right;
  color: #024f8e;
}

#chat_input_send.enabled {
  color: #024f8e;
  background-color: Transparent;
  cursor: pointer;
}

#chat_logout_container {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

#chat_logout {
  text-decoration: none;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background-color: #024f8e;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.message_container {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.message_inner_container {
  width: 100%;
  display: inline-block;

  color: #024f8e;
}

.message_user_container {
  width: 100%;
  display: inline-block;
}

.message_user {
  font-weight: bold;
  font-size: 14px;
}

.message_content_container {
  width: 100%;
  display: inline-block;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.message_content {
  font-weight: normal;
  font-size: 14px;
  margin-top: 5px;
}

.enabled {
  transition: background-color 0.5s;
  color: #ffffff;
  background-color: #024f8e;
  /*#5B7553;*/
  cursor: pointer;
}

#title_container.chat_title_container {
  transition: 0.8s;
  transition-timing-function: ease-in-out;
  height: 100px;
}

#title.chat_title {
  transition: 0.8s;
  font-size: 47px;
}

.loader_container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;

  border-top: 6px solid #024f8e;
  border-bottom: 6px solid #024f8e;
  border-left: 6px solid #e9fff9;
  border-right: 6px solid #e9fff9;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blur {
  0% {
    filter: blur(5px);
  }

  100% {
  }
}

::selection {
  background-color: #024f8e;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #024f8e;
  border-radius: 5px;
}

/* mobile */
@media screen and (max-width: 600px) {
  #chat_container {
    height: 110vh;
    max-height: calc(110vh - 150px);
    /* Sesuaikan dengan tinggi input container */
    overflow-y: auto;
    margin-bottom: 60px;
    /* Sesuaikan dengan tinggi input container */
  }

  #chat_content_container {
    width: 100%;
    height: 70%;
    float: left;
    overflow-y: auto;
    font-family: Varela Round;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
  }

  #join_button {
    width: 60%;
  }

  #chat_input_container {
    width: 95%;
    height: 35px;
    margin-left: -20px;
    margin-bottom: 10px;
    position: fixed;
    /* Mengubah posisi menjadi fixed */
    bottom: 0;
    transition: bottom 0.3s ease;
  }

  #chat_logout_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    /* Ensure it's above other content */
    background-color: transparent;
    padding: 10px 15px;
    /* Adjust padding as needed */
    /* Add a border to separate from content */
  }

  /* Adjust chat input and send button width */
  #chat_input {
    width: calc(100% - 50px);
    /* Adjust width based on send button width */
  }

  #chat_input_send {
    width: 50px;
    /* Set fixed width for send button */
  }

  /* Adjust logout button styles */
  #chat_logout {
    border: 1px solid;
    text-decoration: none;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 204, 2);
    color: #024f8e;
    border: 2px solid #1d3354;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adds shadow */

    width: 100%;
    height: 40px;
    /* Adjust height as needed */
    border-radius: 20px;
    /* Adjust border radius for button */
    font-size: 14px;
    /* Adjust font size */
  }
}
